body{
  background-color: aliceblue;
}
header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  z-index: 2;
}
#headerSec{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerFlex{
  flex: 1;
}
#menuShortcuts{
  display: flex;
  flex-direction: row;
}
.menu{
  flex: 1;
  width: 33.33%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
article{
  position: relative;
  top: 300px;
  text-align: center;
  width: 70%;
  margin: auto;
}
h2{
  font-size: 28px;
}
input[type=email]{
  width: 300px;
  height: 40px;
  font-size: 26px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
}
button{
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: gold;
}
table{
  margin: 100px 0;
}
.logoSec{
  width: 10%;
}
.logoInfo{
  text-align: left;
}
h3{
  font-size: 26px;
}
p{
  font-size: 20px;
}
#works{
  overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
  margin-bottom: 300px;
}
.responsiveIframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  border: none;
}
aside{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: 90%;
  margin: auto;
  position: relative;
}
.items{
  flex: 1;
  margin: 0 5px;
  text-align: center;
  border: 1px solid black;
}
.itemHeading{
  background-color: gray;
  margin-top: 0;
  padding: 3px 0;
}
.itemInfo{
  font-style: italic;
  line-height: normal;
}
strong{
  font-size: 22px;
  color: green;
}
.itemButton{
  width: 100px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer{
  margin: 20px auto;
  width: 90%;
  text-align: right;
  background-color: gray;
  padding: 10px 10px;
}
.footerAnchors{
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

@media screen and (max-device-width: 600px) {
  header{
    height: auto;
  }
  #headerSec, #menuShortcuts{
    flex-direction: column;
  }
  .menu, article{
    width: 100%;
  }
  h2{
    font-size: 24px;
  }
  input[type=email]{
    height: 30px;
    font-size: 22px;
  }
  button{
    height: 30px;
    font-size: 12px;
  }
  .logoSec{
    display: none;
  }
  .logoInfo{
    text-align: center;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 18px;
  }
  aside{
    flex-direction: column;
  }
  .items{
    width: 100%;
  }
  strong{
    font-size: 20px;
  }
}